clientV2/node_modules/
clientV2/bower_components/
clientV2/dist/
mobile/node_modules/
mobile/ios/build/
public/node_modules/
node_modules/
server/secret.js
images
build/
.DS_Store
client/node_modules/
*.log